{% extends "base.html" %}

{% block title %}
Contacto
{% endblock %}

{% block title2 %}
Contacto
{% endblock %}

{% block content %}
<form class="col-6 m-auto pb-5">
    <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre">
    </div>
    <div class="form-group">
        <label for="correo">Correo electrónico:</label>
        <input type="email" class="form-control" id="correo" placeholder="Ingresa tu correo electrónico">
    </div>
    <div class="form-group">
        <label for="mensaje">Mensaje:</label>
        <textarea class="form-control" id="mensaje" rows="3" placeholder="Escribe tu mensaje"></textarea>
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>
{% endblock %}