{% extends "base.html" %}

{% block title %}
Inicio
{% endblock %}

{% block title2 %}
Nos gustan los monos
{% endblock %}

{% block content %}
<div class="row mb-5">
  <div class="col-md-6">
    <img src="../static/1.jpg" class="img-fluid d-block w-100 h-100" alt="Imagen 1">
  </div>
  <div class="col-md-6">
    <img src="../static/2.jpg" class="img-fluid d-block w-100 h-100" alt="Imagen 2">
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <img src="../static/3.jpg" class="img-fluid d-block w-100 h-100" alt="Imagen 3">
  </div>
  <div class="col-md-6">
    <img src="../static/9.jpg" class="img-fluid d-block w-100 h-100" alt="Imagen 4">
  </div>
</div>
{% endblock %}